.page-container {
  height: 95vh;
  overflow-y: scroll;
}

.documents-section {
  overflow-y: scroll;
  border-bottom: 1px rgb(179, 179, 179) solid;
}

.case-section {
  overflow-y: scroll;
  padding: 40px;
  max-height: 80%;
}

mat-list-item {
  cursor: pointer !important;
  transition: all 0.3s;
  margin-bottom: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 20px !important;
  }
}

.selected {
  background-color: #82839e;
  border-radius: 20px !important;
  color: white !important;

  &:hover {
    background-color: #82839e;
    border-radius: 20px !important;
  }
}

::ng-deep .selected .mat-mdc-list-item-line,
.selected .mat-icon {
  color: white !important;
}

.table-container {
  width: 100%;
  max-height: 20%;
  overflow-y: scroll;
  margin-top: 20px;
}

.table {
  width: 100%;
}

th {
  font-weight: bold;
}
