.documents-section {
  overflow-y: scroll;
  border-bottom: 1px rgb(179, 179, 179) solid;
}

mat-list-item {
  cursor: pointer !important;
  transition: all 0.3s;
  margin-bottom: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 20px !important;
  }
}

.selected {
  background-color: #82839e;
  border-radius: 20px !important;
  color: white !important;

  &:hover {
    background-color: #82839e;
    border-radius: 20px !important;
  }
}

::ng-deep .selected .mat-mdc-list-item-line,
.selected .mat-icon {
  color: white !important;
}
